<h1>Users#index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "修正", edit_user_path(user) %>
          <%= link_to "削除", user_path(user), method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "新規ユーザー作成", action: "new" %> <br>
  <%= link_to "戻る", new_detail_path %>
</div>
