<h3>明細一覧</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>いつ</th>
      <th>だれ</th>
      <th>どこ</th>
      <th>金額</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>

    <% @details.reverse_each do |detail| %>
      <tr>
        <td><%= detail.date %></td>
        <td><%= detail.user %></td>
        <td><%= detail.department %></td>
        <td><%= detail.payment.to_s(:delimited) %></td>
        <td><%= link_to "修正", edit_detail_path(detail), class: "btn btn-primary" %>
          <%= link_to "削除", detail_path(detail), method: :delete, data: { confirm: '削除しますか？'}, class: "btn btn-warning"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div>
  <%= link_to "戻る", new_detail_path %>
</div>
